@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

/* --------set variable------------- */
:root {
  --header-height: 3rem;

  /* -------color------- */
  --hue-color: 190;
  --first-color: hsl(var(--hue-color), 64%, 22%);
  --first-color-second: hsl(var(--hue-color), 64%, 22%);
  --first-color-alt: hsl(var(--hue-color), 64%, 15%);
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 69%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
  /* ---------font------- */
  --body-font: "Open Sans", sans-serif;
  --title-font: "Raleway", sans-serif;
  --biggest-font-sie: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /* -----font weight -------- */
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-fixed: 100;

  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--title-color);
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
video {
  max-width: 100%;
  height: auto;
}
button,
input {
  border: none;
  font-family: var(--normal-font-size);
  font-size: var(--normal-font-size);
}
button {
  cursor: pointer;
}
input {
  outline: none;
}
.section {
  padding: 4.5rem 0 2.5rem;
}
.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}

/* ------page 1 -------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
}
nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  color: #fff;
  font-weight: var(--font-semi-bold);
}
.nav-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}
.nav-menu {
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
    transition: 0.4s;
    padding: 3rem;
  }
}

.nav-menu ul {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.nav-menu li a {
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}
.nav-menu li a:hover {
  color: var(--text-color);
}
.fa-times {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}
.nav-menu.show {
  right: 0;
}
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
}
.scroll-header .nav-logo,
.scroll-header .nav-toggle {
  color: var(--title-color);
}
.fa-times.active {
  right: -100%;
}

/* active link */

.active-link {
  position: relative;
  color: var(--title-color);
}
.active-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -0.75rem;
  left: 0;
  background-color: var(--title-color);
}
/* home */
.home-background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 83%;
  position: absolute;
  top: 0;
  left: 0;
}
.home-container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}
.home-data span {
  color: #fff;
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.75rem;
}
.home-data h1 {
  color: #fff;
  font-size: var(--biggest-font-sie);
  font-weight: var(--font-medium);
  margin-bottom: 2.5rem;
}
.button {
  display: inline-block;
  color: #fff;
  background-color: var(--first-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color-alt);
}
.social-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.social-container a {
  color: #fff;
  font-size: 1.2rem;
  width: max-content;
  transition: 0.3s ease;
}
.social-container a:hover {
  color: var(--text-color-light);
}
.home-info {
  color: #fff;
  background-color: var(--first-color);
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  column-gap: 0.5rem;
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 228px;
}
.home-info-data span {
  display: block;
  font-size: var(--small-font-size);
  font-family: var(--font-semi-bold);
  margin-bottom: 0.75rem;
}
.fa-arrow-right {
  font-size: var(--smaller-font-size);
}
.visit-image {
  overflow: hidden;
}
.visit-image img {
  width: 145px;
  transition: 0.3s;
}
.visit-image img:hover {
  transform: scale(1.1);
}
.info-button {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  background: none;
  padding: 0;
}
.info-button:hover {
  background: none;
  letter-spacing: 0.1rem;
}
/* ----page 2 ------- */

.about-container {
  row-gap: 2.5rem;
}
.about-data {
  text-align: center;
}
.about-data p {
  margin-bottom: 2rem;
}
.about-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.about-image-overlay {
  overflow: hidden;
}
.about-img-1 {
  width: 130px;
}
.about-img-2 {
  width: 180px;
}
.about-img-1,
.about-img-2 {
  transition: 0.3s;
}
.about-img-1:hover,
.about-img-2:hover {
  transform: scale(1.1);
}

/* -----page 3------- */
.discover-title {
  text-align: center;
}
.discover-card {
  position: relative;
  width: 13rem;
  overflow: hidden;
}
.discover-data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}
.discover-data h2 {
  color: #fff;
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}
.discover-data span {
  display: block;
  font-size: var(--small-font-size);
  color: #fff;
}
.discover-card img {
  transition: 0.3s;
}
.discover-card img:hover {
  transform: scale(1.1);
}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background: none;
}

/* ----page 4---- */
.experience-container {
  row-gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
.experience-content {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  justify-content: center;
  padding: 0 2rem;
}
.experience-data h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.5rem;
}
.experience-data span {
  font-size: var(--small-font-size);
}
.experience-img-container {
  position: relative;
  padding-bottom: 2rem;
}
.experience-img-overlay:nth-child(1) {
  width: 263px;
  margin-right: 2rem;
}
.experience-img-overlay:nth-child(2) {
  width: 120px;
  position: absolute;
  top: 2rem;
  right: 0;
}
.experience-img-overlay {
  overflow: hidden;
}
.experience-img-overlay img {
  transition: 0.3s;
}
.experience-img-overlay img:hover {
  transform: scale(1.1);
}

.video-container {
  padding-bottom: 1rem;
}
.video-container p {
  text-align: center;
  margin-bottom: 2.5rem;
}
.video-content {
  position: relative;
}
.button-video {
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  padding: 1rem 1, 5rem;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

/* -----page 5---- */

.place-container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
}
.place-card {
  height: 20rem;
  width: 12rem;
  position: relative;
  overflow: hidden;
}
.place-card img {
  height: 100%;
  width: 100%;
  transition: 0.3s;
}
.place-card:hover img {
  transform: scale(1.1);
}
.place-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem 0.75rem 1rem;
}
.place-content h3 {
  color: #fff;
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}
.rating {
  justify-self: right;
  align-self: flex-end;
}
.fa-star {
  font-size: 0.75rem;
  margin-right: 0.25rem;
}
.place-data span {
  display: block;
}
.place-location {
  font-size: var(--smaller-font-size);
  margin-bottom: 1.25rem;
}
.place-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem 1rem;
}
.place-rating-number {
  font-size: var(--small-font-size);
}
/* ----page 6 ----- */
.subscribe {
  background: var(--first-color-second);
  padding: 2.5rem 0;
}
.subscribe-container h2 {
  color: #fff;
}
.subscribe-container p {
  color: #fff;
  text-align: center;
  margin-bottom: 2.5rem;
}
form {
  background-color: var(--input-color);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border: none;
}
form input {
  width: 70%;
  padding-right: 0.5rem;
  background-color: var(--input-color);
  color: var(--text-color);
}
form input::placeholder {
  color: var(--text-color);
}
/* ----footer---- */
.sponsor-container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  justify-content: center;
  row-gap: 3.5rem;
}
.sponsor-container img {
  width: 90px;
  filter: invert(0.7);
  transition: 0.3s;
}
.sponsor-container div:hover img {
  filter: invert(0.5);
}
.footer-container {
  row-gap: 5rem;
}
.footer-content-container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.footer-main-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}
.footer-card p {
  margin-bottom: 2rem;
}
.footer-social a {
  color: var(--title-color);
  font-size: 1.25rem;
  margin-right: 1.25rem;
  transition: 0.2s;
}
.footer-social a:hover {
  color: var(--first-color-second);
}
.footer-content-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.footer-subtitle {
  margin-bottom: 1rem;
  font-size: var(--h3-font-size);
}
.footer-content-list a {
  margin-bottom: 0.75rem;
  color: var(--text-color);
  text-transform: capitalize;
  transition: 0.1s;
}
.footer-content-list a:hover {
  color: var(--title-color);
}
.copyright {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  text-align: center;
  padding-bottom: 2rem;
}
.copyright a {
  color: var(--text-color);
  font-size: var(--normal-font-size);
}
.copyright a:hover {
  color: var(--first-color-second);
}
.scroll-up {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  padding: 0.5rem;
  background-color: var(--first-color);
  opacity: 0.9;
  transition: 0.4s;
}
.scroll-up i {
  color: #fff;
}
.scroll-up:hover {
  color: var(--first-color-alt);
  opacity: 1;
}
.show-scroll {
  bottom: 5rem;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-sie: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
